body {
  font-family: 'Roboto', sans-serif;
  background: #C9FFBF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  text-align: center;
}

a {
  color: #e74c3c;
}

span {
  background-color: #e74c3c;
  color: white;
  display: inline-block;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  width: 0;
  opacity: 0;
  transition: 0.2s linear;
}

h1 {
  background: #2980b9;
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

input[type="text"] {
  background: #f7f7f7;
  border: none;
  color: #2980b9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  padding: 13px 13px 13px 20px;
  width: 100%;
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: white;
  color: #292929;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

#container {
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 360px;
}

.fa-trash {
  padding-top: 10px;
}

.fa-plus {
  float: right;
}

.toggle {
  display: none;
}

.completed {
  color: #c2c2c2;
  text-decoration: line-through;
}

